.wp-block-create-block-team-members {
	display: block;


	@for $i from 1 through 6 {
		&.has-#{$i}-columns {
			>.block-editor-inner-blocks>.block-editor-block-list__layout> {
				[data-type="create-block/team-members"] {
					width: calc(100% / #{$i} - 20px);
				}

				.block-list-appender {
					align-self: stretch;
					width: calc(100% / #{$i} - 20px);
					border: 1px dashed;
					display: flex;
					align-items: center;
					justify-content: center;
					min-height: 70px;
				}
			}
		}
	}





	>.block-editor-inner-blocks>.block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
		margin-left: -10px;
		margin-right: -10px;

		[data-type="create-block/team-members"] {
			max-width: none;
			margin: 0;
		}

		>[data-type="create-block/team-members"] {
			margin: 10px;

			h4 {
				font-size: 22px;
				color: 0;
				font-size: bold;
				;
			}

			p {
				color: #565656;
				font-size: 16px;
				font-weight: 300;
				margin-bottom: 5px;
			}
		}
	}
}